---
import About from '../components/About.astro';
import '../styles/global.css' 

interface Props {
	title: string;
}

const { title } = Astro.props;

import nightSky from '../assets/night-sky.png';
import starsLayerOne from '../assets/stars1.png';
import starsLayerTwo from '../assets/stars2.png';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
		
	</head>
	<body class="min-h-screen sky bg-cover bg-fixed" style={`background-image: url(${nightSky.src});`}>
		<!-- on smaller devices, stack the two divs on top of each other, in a column -->
		<!-- after the small breakpoint, begin to show the divs side by side -->
		<div class="flex flex-col sm:flex-row gap-x-4 stars bg-cover bg-fixed min-h-screen" style={`background-image: url(${starsLayerOne.src}), url(${starsLayerTwo.src});`}>
			<!-- after the small breakpoint, begin to show the nav as 1/4 of the width of the screen -->
			<div class="w-full shrink-0 sm:w-1/4 sm:max-w-80">
				<About />
			</div>
			<div class="grow sm:w-2/3">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
    .stars {
        animation: moveStars1 200s linear infinite;
    }
    @keyframes moveStars1 {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
    }
</style>